.videoCard {
    width: 270px;
    margin-bottom: 40px;
}

.videoCard__thumbnail {
    height: 140px;
    width: 250px;
}

.video__info {
    display: flex;
    margin-top: 10px;
    padding-right: 30px;
}

.video__text{
    margin-left: 15px;
}

.video__text > h4 {
    font-size: 13px;
    margin-bottom: 5px;
}

.video__text > p {
    font-size: 12px;
    color: grey;
}

.viewsCard__avatar {
    height: 30px!important;
    width: 30px!important;
}
